<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hemaapp.jhctm">
    <!-- permissions start -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 使用定位功能所需权限 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- shareSDK权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- 百度推送权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!-- 个推  start -->
    <uses-permission android:name="getui.permission.GetuiService.com.hemaapp.jhctm" /> <!-- 替换为第三方应用的包名 -->
    <permission
        android:name="getui.permission.GetuiService.com.hemaapp.jhctm"
        android:protectionLevel="normal"> <!-- 替换为第三方应用的包名 -->
    </permission>
    <!-- 个推 end -->

    <!-- permissions send -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <application
        android:name="com.hemaapp.jhctm.JhctmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="name,icon,label,theme">
        <!-- 个推SDK配置开始 -->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="yBKBXqGqQy7Vwbks47SDN4" /> <!-- 替换为第三方应用的APPID -->
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="PhYEvOUjCT6tvGCkIvo6O9" /> <!-- 替换为第三方应用的APPKEY -->
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="G1T4LRjXhp6XtHSEjL30j4" /> <!-- 替换为第三方应用的APPSECRET -->
        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice" />
        <service
            android:name="com.igexin.sdk.PushServiceUser"
            android:exported="true"
            android:label="NotificationCenterUser" />

        <receiver android:name="com.igexin.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
                <!-- 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver android:name="com.igexin.download.DownloadReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.com.hemaapp.jhctm"
            android:exported="true"
            android:process=":pushservice" /> <!-- 替换为第三方应用的包名 -->

        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <action android:name="com.igexin.sdk.action.yBKBXqGqQy7Vwbks47SDN4" /> <!-- 替换为第三方应用的APPID -->
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />

        <!-- 配置第三方Receiver -->
        <receiver
            android:name="com.hemaapp.jhctm.getui.PushDemoReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.yBKBXqGqQy7Vwbks47SDN4" /> <!-- 替换为第三方应用的APPID -->
            </intent-filter>
        </receiver>
        <!-- 个推SDK配置结束 -->

        <!-- 支付宝支付(如果没有安装客户端,调网页版) -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <!-- 支付宝支付end -->
        <!-- 银联支付 -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 银联支付 end -->
        <!-- shareSDK相关 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!--
            	Dropbox的SSO功能需要在此处添加一个对ACTION_VIEW事件的过滤器，其中的scheme是
            	“db-”前缀再开发者应用的加上appKey。如果此过滤器不设置，则不能完成SSO功能授权
            -->
            <intent-filter>
                <data android:scheme="db-7janx53ilz11gbs" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name="com.hemaapp.jhctm.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.hemaapp.jhctm.wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- shareSDK相关end -->
        <!-- 高德地图ApiKey -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8f1f4869d25e94dda3ea8d190fbcc342" />
        <!-- 本机 -->
        <activity
            android:name="com.hemaapp.jhctm.activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.SearchSupermarketActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.SelectSupermarketActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.SearchResultSupActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.RegisterActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.FindPwdActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.MessageActivity"

            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.BrandbusinessActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.BrandbusinessInforActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.AdsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.JhWebView"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.ShareGoodsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.ConfirmOrderActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.GoodsInformationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.ReplyListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.CreditPayActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.TimeGoodInforActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hemaapp.hm_FrameWork.showlargepic.ShowLargePicActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.LimitExchangeActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.InvoiceActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.AddAddressActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.SelectDispatchingActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.SelectAddressActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.SearchActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.YiWuDuiActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.TypeGoodActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.BuyCarPayActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.ExchangeVoucherActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.ExchangeVoucherZRActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.AdvertisingPromotionActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.IntegralDetailedActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.BuyGuiWuQuanActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.TransactionRecordActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.SetActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.ModifyPWDActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.ShareIntegralActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.UserInformationActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.AddBankActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.AccountIntegrationActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.MyCardPackageActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.MyCollectionActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.OrderActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.OrderInformationActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.EvaluateActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.SearchResultActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.CustomerServiceActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.CustomerServiceInformationActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.City0Activity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.hemaapp.jhctm.activity.MyWalltActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.WithdrawBankActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.SelectBankActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.BuyRecordActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.CarOrderConfirmActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.TypeSelectPopActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CPTheme"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.MyXiaoXi"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.NewsToPay"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.TimeScore"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.JifenRecord"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.hemaapp.jhctm.activity.FreezeListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".activity.ShouHouOrderListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.FailedOrderInforActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.AdviteGeneralizeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.AlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CPTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.PayTwoTypeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.CarBuyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>